:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bacground-color: #ffffff;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --footer-color: #2f303a;
  --section-bacground-color: #f5f4fa;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Header */

header {
  background-color: var(--main-bacground-color);
  border-bottom: 1px solid #ececec;
}
.main-nav,
.top-nav,
.top-contacts {
  display: flex;
  align-items: center;
}

.main-nav {
  justify-content: space-between;
}

.top-nav-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  margin-right: 93px;
}
.top-contacts .item + .item {
  margin-left: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.logo-link {
  color: #2196f3;
}

.top-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.top-contacts .link {
  color: var(--main-text-color);
}

.top-nav.studio,
.top-nav.portfolio {
  color: var(--accent-color);
}

.top-nav .link:hover,
.top-nav .link:focus,
.top-contacts .link:hover,
.top-contacts .link:focus {
  color: var(--accent-color);
}
/* hero */

.hero {
  background-color: var(--footer-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bacground-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--main-bacground-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */

.features-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.features-list {
  display: flex;
}

.features-list .item {
  width: 270px;
}
.item:not(:last-child) {
  margin-right: 30px;
}

.item .title {
  margin-bottom: 10px;
}

.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-list .features-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* about */
.about {
  display: flex;
  justify-content: space-between;
}
.section.no-padding {
  padding-top: 0;
}

.about-us-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* team */

.team {
  background-color: var(--section-bacground-color);
}

.team-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
}

.team-list-item {
  width: 270px;
  background-color: var(--main-bacground-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.card-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* footer */

footer {
  background-color: var(--footer-color);
  color: var(--main-bacground-color);
}

.footer-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-bacground-color);
  margin-bottom: 20px;
}

.footer-nav .link {
  display: block;
}

.footer-location {
  display: block;
  margin-bottom: 9px;
}

.footer-nav .link {
  margin-bottom: 9px;
}

.footer-location,
.footer-nav .link {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.71;
  color: var(--main-bacground-color);
}

.footer-nav .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav .link:hover,
.footer-nav .link:focus {
  color: var(--accent-color);
}

/* portfolio main */

.portfolio-main-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--section-bacground-color);
  cursor: pointer;
}

.portfolio-main-btn:hover,
.portfolio-main-btn:focus {
  background: var(--accent-color);
  color: var(--main-bacground-color);
}

/* portfolio examples */

.flex {
  display: flex;
}

.main-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.example-title {
  color: var(--title-text-color);
}
.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-title-hide {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.example-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.card-portfolio {
  width: 370px;
  border: 1px solid #eeeeee;
}

.portfolio-card-description {
  /* margin-left: 24px;
  margin-right: 24px; */
  margin: 20px 24px;
}
